header {
    background-color: #060531;
    color: #ffffff;
}

.header{
    width: 70%;
}

header div span {
    color: #FE1586;
}

section h1 {
    color: #060531;
}

.centered-container {
    width: 60%;
    margin: 2rem auto;
}

.link-white {
    color: white;
    text-decoration: none;
}

.link-white:hover {
    color: white;
    text-decoration: underline;
}

.link-pink {
    color: #FE1586;
    text-decoration: none;
}

.link-pink:hover {
    color: #FE1586;
    text-decoration: underline;
}

#img-logo {
    width: 6rem;
}

#flecha {
    width: 2rem;
}

.imagenes {
    width: 8rem;
}

.input-group-custom {
    border: 2px solid #000066; /* Color del borde */
    border-radius: 25px; /* Redondear bordes */
    overflow: hidden; /* Asegura que el botón de submit esté dentro del input */
}
.input-group-custom input {
    border: none;
    outline: none;
    box-shadow: none;
}
.input-group-custom button {
    border: none;
    background: none;
    color: #000066; /* Color del icono del botón */
}